<section>
<h1 class="display-4 fw-normal pageHeader">Welcome to Tikit!</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-4">
        <a class="pageLink link-body-emphasis" href="/users">
        <img id="userImage" class="float-start" src="http://cdn.onlinewebfonts.com/svg/img_38242.png" alt="User Silhoutte">
        <h2 >View All Users</h2>
        </a>
    </div>
    <div class="col-xl-4">
        <a class="pageLink link-body-emphasis" href="/tickets">
        <img id="ticketImage" class="float-start" src="http://cdn.onlinewebfonts.com/svg/img_560762.png" alt="Ticket Silhoutte">
        <h2>View All Tickets</h2>
        </a>
    </div>
    <div class="col-xl-4">
        <a class="pageLink link-body-emphasis" href="/tickets/calendar">
        <img id="ticketImage" class="float-start" src="https://www.shareicon.net/data/2015/11/08/668650_calendar_512x512.png" alt="Calendar Silhoutte">
        <h2>View Ticket Calendar</h2>
        </a>
    </div>
  </div>
</div>
</section>