<script src="/public/js/login.js"></script>
<link href="/public/css/login.css" rel="stylesheet">

<div class="form-signin w-100 m-auto text-center">
  <form action="/login" method="POST" class="login-form" id="login-form">
    <img class="mb-4" src="/public/assets/tikit_logo_full.png" alt="Tikit" width="250" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    {{#if error}}
    <p id="error" class="error">{{error}}</p>
    {{else}}
    <p id="error" class="error" hidden></p>
    {{/if}}

    <div class="form-floating">
      <input type="email" class="form-control" id="emailAddressInput" name="emailAddressInput"
        placeholder="Email Address" required>
      <label for="emailAddressInput">Email Address</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Password"
        required>
      <label for="passwordInput">Password</label>
    </div>
    <div class="form-bottom">
      <input type="submit" class="w-100 btn btn-lg btn-primary" id="submitButton" name="submitButton" value="Submit" role="button">
    </div>
  </form>
  <br>
  <h2 class="h4 mb-3 font-weight-normal">Need an account?</h2>
    <a class="btn btn-primary w-100 btn-lg" href="/register" role="button">Register</a>
</div>