section { 
    margin: 20px;
}

.pageHeader {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.searchForm {
    width: 30%;
    margin-left: 2%;
}

.searchBtn {
    width: 40%;
}

.pageLink {
    padding-right: 2%;
    text-decoration: none;
    float: right;
}

.link-clean {
    text-decoration: inherit;
    color: inherit;
}

.pageLink-light {
    color: white;
    padding-right: 2%;
    text-decoration: none;
    float: right;
}

.info {
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.description {
    padding-top: 5px;
    padding-bottom: 5px;
}

.fc-today-button{
    background-color: rgb(102, 1, 102) !important;
}

.fc-daygrid-day-number{
    color: black !important;
}

#userImage {
    width:50px;
    margin: 5%;
    height: auto;
}

.smallImage {
    width:80px;
    margin: 5%;
    height: auto;
}

.home-logo { 
    font-weight: bold;
    color: purple !important; 
    font-size: 1.6em !important;

}

.nav-foot { 
    text-align: right
}

/* make btn-primary purple */
.btn-primary {
    background-color: purple !important;
    border-color: purple !important;
}

/* make btn-primary purple */
.btn-primary:hover {
    background-color: #4d004d !important;
    border-color: #4d004d !important;
}



.extra-info {
    display: none;
    line-height: 20px;
    font-size: 12px;
    top: 0;
    left: 50px;
}
  
.infoCategory:hover .extra-info {
display: inline-block;;
}

.infoCategory {
font-size: 20px;
padding-left: 5px;
border-radius: 15px;
}

.infoCategory:hover {
background-color: white;
padding: 0 0 0 5px;

text-align: left !important;
}

.infoSubtitle {
    font-weight: bold;
    display:inline-block; 
}

.categoryDescription {
    display:inline-block; 
}

.add-comment { 
    text-align: right;
}

.list-group { 
    padding-bottom: 20px;
}

.reply { 
    margin-left: 20px;
}

.author { 
    font-size: 0.7em;
}

.replyicon { 
    margin-right: 5px;
}

.deleteicon { 
    margin-right: 5px;
}

.replyicon:hover{
    color: green;
}

.deleteicon:hover { 
    color: red;
}

.error-div { 
    color: red;
    font-weight: bold;
    padding: 5px;
}

.deleteCommentBtn, .replyCommentBtn, .deleteReplyBtn {
    background: none!important;
    border: none;
    padding: 0!important;
    text-decoration: underline;
    cursor: pointer;
  }

  .commentHeader { 
    color: black; 
  }
  .commentBorder { 
    padding: 10px;
    color: lightgray;
  }

  .editTicketBtn { 
    padding: 10px;
    width: 40%;
  }