.searchPageHeader {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.searchForm {
    width: 30%;
    margin-left: 2%;
}

.searchBtn {
    width: 40%;
}

.pageLink {
    padding-right: 2%;
    text-decoration: none;
    float: right;
}