section { 
    margin: 20px;
}

.pageHeader {
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
}

.searchForm {
    width: 30%;
    margin-left: 2%;
}

.searchBtn {
    width: 40%;
}

.pageLink {
    padding-right: 2%;
    text-decoration: none;
    float: right;
}

.link-clean {
    text-decoration: none;
    color: black;
}

.pageLink-light {
    color: white;
    padding-right: 2%;
    text-decoration: none;
    float: right;
}

.info {
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}

.description {
    padding-top: 5px;
    padding-bottom: 5px;
}

#userImage {
    width:50px;
    margin: 5%;
    height: auto;
}

#ticketImage {
    width:80px;
    margin: 5%;
    height: auto;
}

.home-logo { 
    font-weight: bold;
    color: purple !important; 
    font-size: 1.6em !important;

}

.nav-foot { 
    text-align: right
}

/* make btn-primary purple */
.btn-primary {
    background-color: purple !important;
    border-color: purple !important;
}

/* make btn-primary purple */
.btn-primary:hover {
    background-color: #4d004d !important;
    border-color: #4d004d !important;
}

.add-comment { 
    text-align: right;
}

.list-group { 
    padding-bottom: 20px;
}

.reply { 
    margin-left: 20px;
}

.author { 
    font-size: 0.7em;
}

.replyicon { 
    margin-right: 5px;
}

.deleteicon { 
    margin-right: 5px;
}

.replyicon:hover{
    color: green;
}

.deleteicon:hover { 
    color: red;
}

.error-div { 
    color: red;
    font-weight: bold;
    padding: 5px;
}